<h1>Alphabetized Customers</h1>

<!-- Back to index view -->
<%= link_to 'Back to All Customers', customers_path, class: 'nice-link' %>

<div class="customer-cards">
  <% @customers.each do |customer| %>
    <%= render partial: 'customer', locals: { customer: customer } %>
  <% end %>
</div>

