<!-- app/views/customers/missing_email.html.erb -->
<h1>Customers with Missing Email</h1>

<!-- Back to index view -->
<%= link_to 'Back to All Customers', customers_path, class: 'nice-link' %>

<div class="customer-cards">
  <% @customers.each do |customer| %>
  <div class="customer-card">
    <%= render partial: 'customer', locals: { customer: customer } %>
  </div>
  <% end %>

</div>


