<!-- app/views/customers/index.html.erb -->

<h1>Customers</h1>

<% @customers.each do |customer| %>
  <div class="customer">
    <h2><%= customer.full_name %></h2>
    <p><strong>Phone Number:</strong> <%= customer.phone_number %></p>
    <p><strong>Email Address:</strong> <%= customer.email_address %></p>
    <p><strong>Notes:</strong> <%= customer.notes %></p>
  </div>
<% end %>
